html body {
    font-family: "DM Sans", -apple-system, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

html * {
    box-sizing: border-box;
}

/* Theming */
:root {
    /* Base Colors */
    --accent-primary: #E34C3D;
    --accent-secondary: #BCC4C4;
    --typography-primary: #293241;
    --typography-secondary: #696A72;
    --typography-on-accent-primary: #FFF;
    --typography-on-accent-secondary: #FFF;

    /* Hover Colors */
    --accent-primary-hover: #CF2E1E;
    --accent-secondary-hover: #BCC4C4;
    --typography-primary-hover: #45556e;
    --typography-secondary-hover: #A8ACB1;
    --typography-on-accent-primary-hover: #FFF;
    --typography-on-accent-secondary-hover: #FFF;
}

/* Containers */
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 0;
    text-align: center;
}

.content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.two-col-content {
    padding: 10px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.two-col-content > img {
    width: 50%;
    margin: 0 -10px;
    box-sizing: border-box;
}

.content-row {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 60%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
    margin-bottom: 50px;
}

footer.container {
    padding: 25px 0;
}

footer .row {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.row-item {
    padding: 0 15px;
    text-align: center;
    flex: 1;
}

.row-item .title {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: var(--typography-primary);
}

.row-item .title-small {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.container .action {
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

.action > * {
    margin-left: 8px;
    margin-right: 8px;
}

header {
    height: auto;
    max-height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .content {
    flex-grow: 1;
}

header.container {
    margin-top: 0;
}

img {
    width: 95%;
    height: 100%;
}

.logo-text {
    width: 95px;
    height: auto;
    margin: 16px 8px;
}

header .mobile.logo-text {
    display: none;
}

.logo-icon {
    width: 95px;
    height: auto;
    margin: 0 8px;
}

/* Typography */
h1 {
    font-size: 58px;
    line-height: 62px;
    font-weight: 700;
    color: var(--typography-primary);
    margin: 0;
}

h3 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: var(--typography-primary);
    margin-bottom: 45px;
}

.subheading {
    max-width: 80%;
    color: var(--typography-secondary);
    font-size: 32px;
    /*margin-top: 30px;*/
    text-align: center;
    line-height: 1.2;
}

.row-item .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--typography-secondary);
}

a {
    text-decoration: none;
    color: var(--typography-primary);
}

a:hover, a:hover div {
    color: var(--typography-primary-hover);
}

a:hover .color-primary {
    color: var(--typography-primary-hover);
}

a:hover .title {
    color: var(--typography-primary-hover);
}

a:hover .description {
    color: var(--typography-secondary-hover);
}

/* Font Awesome */

.fas, .fab {
    color: var(--typography-primary);
}

a:hover .fas, a:hover .fab {
    color: var(--typography-primary-hover);
}

.f-60 {
    font-size: 60px;
    line-height: 70px;
}

.f-40 {
    font-size: 40px;
    line-height: 50px;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    padding: 15px 30px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a, .navbar-icon {
    float: left;
    display: block;
    color: var(--typography-secondary);
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--typography-secondary-hover);
}

.navbar-icon {
    display: none;
}

/* Links */
.btn {
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

.btn.full {
    background-color: var(--accent-primary);
    border: 3px solid var(--accent-primary);
    color: var(--typography-on-accent-primary) !important;
}

.btn.full:hover {
    background-color: var(--accent-primary-hover);
    color: var(--typography-on-accent-primary-hover) !important;
}

.btn.sub {
    border: 3px solid var(--accent-primary);
    color: var(--accent-primary);
}

.btn.sub:hover {
    background-color: #e34c3d66;
    color: var(--accent-primary-hover);
}

.btn.sm {
    padding: 11px 15px;
    font-size: 18px;
    font-weight: 500;
}

.btn.lg {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    min-width: 95px;
    /*width: auto;*/
}

.link {
    color: var(--accent-primary);
    display: inline-block;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
}

.link:hover {
    color: var(--accent-primary-hover);
}

img.padded {
    margin: 2em;
    height: 400px;
    max-width: 90%;
    width: auto;
    object-fit: contain;
    box-shadow: 0 0 20px 4px rgb(0 0 0 / 10%);
    border-radius: 10px;
}


/* Responsive Adjustment */
@media screen and (max-width: 950px) {
    .navbar a {
        display: none;
    }

    .navbar-icon {
        float: left;
        display: block;
    }

    .navbar.responsive {
        position: relative;
        padding: 0;
    }

    .navbar .right {
        width: 100%;
    }

    .navbar-icon.responsive {
        position: absolute;
        left: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }

    .two-col-content {
        flex-direction: column;
    }

    .two-col-content > img {
        width: 100%;
        margin: -10px 0;
    }

    .content {
        padding: 0;
    }

    .subheading {
        max-width: 95%;
        margin-top: 15px;
        font-size: 28px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .content-row {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        flex-direction: column;
    }

    .tab {
        flex-direction: row !important;
        justify-content: center !important;
    }

    .tab, .tab-content code {
        padding-left: 15%;
        padding-right: 15%;
    }

    code {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.3em;
    }

    .row {
        width: unset;
        flex-direction: column;
        margin-bottom: 15px;
        align-items: center;
    }

    .row-item .title {
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .row-item .description {
        margin-bottom: 32px;
        padding: 0 32px;
    }

    .container {
        padding-bottom: 30px;
    }

    .container .action {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    footer .row {
        flex-direction: row;
    }

    .btn.lg {
        padding: 10px 30px;
        font-size: 20px;
        font-weight: 600;
        min-width: 95px;
        /*width: auto;*/
    }

    header img.logo-text {
        display: none;
    }

    header img.mobile.logo-text {
        display: unset;
    }

    header .left {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    code {
        font-size: 13px;
    }

    .content-row {
        width: unset;
    }

    .subheading {
        font-size: 22px;
    }

    header.container {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    code {
        font-size: 11px;
    }
}

@media screen and (max-height: 700px) {
    header {
        max-height: 340px;
    }
}

@media screen and (max-height: 800px) {
    img.padded {
        height: auto;
    }
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--accent-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: var(--typography-on-accent-secondary);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--accent-primary-hover);
    color: var(--typography-on-accent-primary-hover);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--accent-primary-hover);
    color: var(--typography-on-accent-primary-hover);
}

/* Style the code samples */
.tab-content {
    display: none;
    border: 1px solid var(--accent-secondary);
    border-left: none;
    flex: 1;
    overflow: hidden;
    background-color: #011627;
}

.code-low {
    opacity: 0.3;
}

.code-high {
    font-weight: 600;
}

pre {
    margin: 0;
    display: grid;
    text-align: start;
    overflow: hidden;
}

code.hljs {
    height: 100%;
    padding: 1em;
    font-family: 'Source Code Pro', monospace;
}

.sample-banner {
    /*border-top: 1px solid #bcc4c44d;*/
    /*background-color: #bcc4c44d;*/
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-top: auto;
}
